.DS_Store
#demo/Pods
#demo/Podfile.lock
demo/demo.xcodeproj/xcuserdata
demo/demo.xcworkspace/xcuserdata
demo/Pods/Pods.xcodeproj/xcuserdata

IRLDocumentScanner.xcodeproj/project.xcworkspace/xcuserdata
IRLDocumentScanner.xcodeproj/xcuserdata
